
body {
    background: #343a40;
}
.my-bg {
    background-color: #fff;
    opacity: 0.9;
}
img.navbar-logo{
    width: 100px;
}
#home-section {
    background: url('../img/psd2html.jpg') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    min-height: 750px;
}
#main-navbar{
    z-index: 9999;
}
#modalId{
    z-index: 99999;
}

.sticky-nav-top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation: smoothScroll 0.3s forwards;
}
@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}
.dark-overlay {
    background:  rgba(0,0,0,0.5);
    min-height:  750px;
    padding: 5rem 0;
}
.icon-title {
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem 0;
}
#about-design,#pricing-section,#feedback-section,#recent-project,#subscribe-us{
    padding: 8rem 0;
}
#footer-section{
    padding: 5rem 0;
}

.quotation {
    font-size: 3rem;
    color: grey;
}
.quote-img {
    width: 5rem;
}
img.card-img-top {
    height: 100%;
}
#recent-project{
    background-color: #635287;
}
#project-hover{
    transform: scaleX(0);
    transform-origin: left;
    transition: .5s;
}

#hover-main:hover #project-hover{
    transform: scaleX(1);
}
.input-bb{
    border: none;
    border-radius: 0;
    border-bottom: grey 1px solid;
}
#footer{
    padding: 1rem 0;
    background-color: #1d2125;
    color: grey;
}
#scroll-top{
    position: fixed;
    padding: 0.7rem 1rem;
    color: white;
    right: 10px;
    bottom: 10px;
}




@media(max-width: 576px){
    .display-3{
        font-size: 3.5rem;
    }

    .display-4{
        font-size: 3rem;
    }
    #project-hover{
        transform: scaleX(1);
        background-color: rgba(0,0,0,0.5) !important;
    }
}
@media(min-width: 0\0){
    
    #about-design{
        max-height: 612px;
    }
    .input-group>.form-control{
        min-width: 200px !important;
    }
    .input-group>.form-control-lg{
        min-width: 250px !important;
    }

    
}

